
  <h2>Show Index</h2>
  <ul>
    <% @shows.each do |show| %>
      <li>
          <%= show.id %>
          <%= show.date_time %>
          <%= show.tickets %>
          <a href="/shows/<%= show.id %>/edit">(Edit)</a>
         <!--  <form action="/shows/<%= show.id %>" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button>Delete</button>
          </form> -->
      </li>
    <% end %>
  </ul>
