
  <h2>Edit your show here!</h2>
  <form action="/shows/<%= @show.id %>" method="POST">
   <input type="hidden" name="_method" value="PUT" />
   <input type="text" name="id" value="<%= @show.id %>" placeholder="<%= @show.id %>"/> 
   <input type="text" name="tickets" value="<%= @show.tickets %>" placeholder="Available?" />
   <input type="text" name="date_time" value="<%= @show.date_time %>" placeholder="yyyy, m, d, H, M, S" />
   <button>Update show!</button>
  </form>

